.result{
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1rem 6rem 0 6rem;
  align-items: center;
  flex-grow: 1;
}


.filter{
  width: 100%;
  justify-items:flex-start;
}


.filterBtn{
  width: max-content;
  height: 36px;
  border-radius: 10% 20px 20px 10%;
}

.hr{
  background-color: var(--color-semi-dk-gray);
  height: 1px;
  border: 0;
}
.container{
  width: 100%;
}