.watch_conrainer {
  display: flex;
  padding: 1rem 0 0 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 900px;
}

.snippet_title {
  display: flex;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7rem;
}

.channer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  background-color: lightblue;
}
.rating_button_container{
  display: flex;
  justify-content: space-between;
  background-color: forestgreen;
}
.description_container{
  background-color: var(--color-gray);
}
.comment_container {
  align-self: flex-start;
  width: 100%;
  margin: 12px 12px 0 0;
  background-color: gray;

}

.side {
  padding: 0 6rem 0 0;
  margin-left: 24px;
  height: max-content;
  flex-basis: 402px;
}

.link{
  color: black;
  text-decoration: none;
}