.header{
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 16px 0 16px;
}

.logo{
  display: flex;
  align-items: center;
}

.searchbar{
  display: flex;
  align-items: center;
}

.info{
  display: flex;
  align-items: center;
}
