.sidebar {
  flex-shrink: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: sticky;
  overflow-y: hidden;
}

.sidebar:hover {
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 12px;
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar-thumb {
  height: 20%;
  background-color: #949494;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.staticList {
  padding: 12px 12px 0 12px;
}

.subscribeList {
  padding: 0 12px 0 12px;
}

.link {
  color: var(--color-black);
  text-decoration: none;
}