.container {
  display: flex;
  width: 100%;
  margin: 10px;
}
.container:hover .img{
  border: 3px solid var(--color-white);
}

.img {
  flex: 0 0 360px;
  width: 360px;
  height: 200px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}


.metadata {
  flex: 1 0 0;

}

.title {
  font-size: 18px;
  margin: 4px 0 4px 0;
}

.views {
  font-size: 12px;
}

.info {
  padding: 12px 0 12px 0;
}

.description {
  font-size: 12px;
}
