@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
.search_container {
  display: flex;
  width: 100%;
  margin: 10px;
}
.search_container:hover .img{
  border: 3px solid var(--color-white);
}
.search_img {
  flex: 0 0 360px;
  width: 360px;
  height: 200px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}
.search_metadata {
  flex: 1 0 0;
}
.search_title {
  font-size: 18px;
  margin: 4px 0 4px 0;
}
.search_views {
  font-size: 12px;
}
.search_info{
  padding: 12px 0 12px 0;
}
.search_description{
  font-size: 12px;
}

.related_container {
  display: flex;
  width: 100%;
  margin: 12px 0px 12px 0px;
}
.related_container:hover .img{
  border: 3px solid var(--color-white);
}
.related_img {
  width: 180px;
  height: 100px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}
.related_metadata {
  flex: 1 0 0;
}
.related_title {
  font-size: 18px;
  margin: 4px 0 4px 0;
}
.related_views {
  font-size: 12px;
}
.related_info {
  padding: 12px 0 12px 0;
}
.related_description {
  font-size: 12px;
}
.container_container{
  background-color: pink;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.container_img{
  background-color: white;
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.container_metadata{
  display: flex;
  padding-top: 10px;
}
.container_info{
  flex-basis: 40px;
  flex-shrink: 0;
  margin: 12px 12px 0px 0px;

}


.container_detailmetadata{
  padding-right: 25px;
}

.container_title{
  font-size: var(--font-size-text3);
  /* font-family: 'Roboto', sans-serif; */
  font-family: var(--font-family-main);
}

.container_views{

}


.container_description{

}