@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root {
  /* color code */
  --color-white: white;
  --color-black: #0F0F0F;
  --color-red: #ff0000;
  --color-gray: #E5E5E5;
  --color-semi-dk-gray: #E6E6E6;
  --color-line: #CCCCCC;
  --color-font-gray: #888888;
  --color-dk-gray: #707070;
  --color-button-gray: #F8F8F8;
  --color-point-blue: #1C62B9;

  /* --font-logo: */
  --font-family-main: 'Roboto', 'Arial' sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  --font-size-text1:12px;
  --font-size-text2:14px;
  --font-size-text3:16px;
  --font-size-text4:18px;
  --font-size-text5:20px;
  --font-size-text6:22px;
  --font-size-text7:24px;
  --font-size-text8:26px;
  --font-size-text9:28px;
}

*{
  font-family: var(--font-family-main);
}